<app-header></app-header>
<app-navbar></app-navbar>

<div class="content">

    <div class="main-contacts-container" >
        <div id="contacts-list" class="contacts-list" [ngClass]="{'hideMobile': openDetailsMenu}">
            <div class="btn-container">
                <button class="btn-grey btn-add-contact" (click)="contactService.addPopup()">

                </button>
            </div>



            <div id="register-container">
                @for (letter of registerletters; track $index) {
                <div class="d-column-flex-start full-width">
                    <div class="registerbox">{{letter}}</div>
                </div>
                @for (contact of localUser.contacts; track $index) {
                @if (contact.register.includes(letter)) {
                <app-singlecontact (click)="openDetailsMobile()" [isSelected]="(contact.name == selectedContact.name)"
                    (selectedContact)="contactService.showContactDetails($event)"
                    [contact]="contact"></app-singlecontact>
                }
                }
                }
            </div>
        </div>

        <div class="contact-details-section" [ngClass]="{'showMobile': openDetailsMenu}">
            <div class="contacts-section-headline">
                <h1 class="no-margin">Contacts</h1>
                <div class="separator-upright-lightblue"></div>
                <span class="headline-claim">Better with a team</span>
                <div (click)="closeDetailsMobile()" [ngClass]="{'d-none': !mobileMode}" id="arrow-back-lightblue">
                    <img src="../../assets/img/arrow-back-lightblue.svg" alt="">
                </div>
            </div>

            <app-contact-details [mobile]="mobileMode" [detailContact]="selectedContact"></app-contact-details>
        
        </div>
    </div>
</div>

<div class="overlay" [ngClass]="{'show-overlay': contactService.showSlider}">
    <app-add-contact  [mobile]="mobileMode"
        [contact]="contactService.slideInMode == 'edit' ?  contactService.selectedContact : contactService.emptyContact"
        (listUpdate)="sessionDataService.getRegisterLetters;" (isClosed)="contactService.slideOutPopup($event)"
        [slideIn]="contactService.showSlider">
    </app-add-contact>
</div>