<div id="details-container" class="details-container d-column-flex-start">
    <div id="detail-header" class="detail-header">
        <div class="person-details-badge" [ngStyle]="{'background-color': contact.badgecolor}">{{contact.initials}}</div>
        <div class="name-right">
            <h2>{{contact.name}}</h2>
            <div class="function-container">
                <button id="edit-btn" class="edit-delete-btn" (click)="contactService.editContact(contact)" >
                    <img src="../../assets/img/pencil-black.svg" alt="">    
                    <span>Edit</span>
                </button>
                <button id="delete-btn" class="edit-delete-btn" >
                    <img src="../../assets/img/trashcan-black.svg" alt="">   
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
    <div class="contact-information-header">Contact Information</div>
    <div class="contact-information-container">
        <h6>E-Mail</h6>
        <a href="mailto:${email}">{{contact.email}}</a>    
        <h6>Phone</h6>
        <span>{{contact.phone}}</span>
    </div>
    <div id="confirmed"></div>
</div>
