<div data-id="${index}" draggable='true' (click)="openDetailCard()" ondragstart="drag(event); rotateCard(event)"
    id="card_${index}" class="board-task-card">
    <div class="board-card-header">
        <p class="board-task-category">{{task.category}}</p>
        <svg (click)="openCardMoveMenu()" class="board-card-move-btn" xmlns="http://www.w3.org/2000/svg" width="0"
            height="0" viewBox="0 0 512 512">
            <path
                d="M278.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-64 64c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8h32v96H128V192c0-12.9-7.8-24.6-19.8-29.6s-25.7-2.2-34.9 6.9l-64 64c-12.5 12.5-12.5 32.8 0 45.3l64 64c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V288h96v96H192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l64 64c12.5 12.5 32.8 12.5 45.3 0l64-64c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8H288V288h96v32c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l64-64c12.5-12.5 12.5-32.8 0-45.3l-64-64c-9.2-9.2-22.9-11.9-34.9-6.9s-19.8 16.6-19.8 29.6v32H288V128h32c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-64-64z"
                fill="#091931" />
        </svg>
    </div>

    <h6 class="board-task-title">{{task.title}}</h6>
    <p class="board-task-description">{{task.description}}</p>
   
    <app-progress-bar [subtasks]="task.subtasks"></app-progress-bar>
    <div class="board-task-footer">
        <div class="board-task-profile-badge-container">
            @for (assignedTo of task.assignedContacts; track $index) {
                <div class="board-task-profile-badge" [ngStyle]="{'background-color': assignedTo.badgecolor}">{{assignedTo.initials}}</div>
            }
        </div>
        <div class="board-task-priority-container">
            <app-priority-badge [priority]="task.priority"></app-priority-badge>
        </div>
    </div>
</div>